<div class="container mt-5 mb-5">
    <div class="row justify-content-center"> 
        <div class="col-md-9 col-lg-8">
            <!-- <h4 class=" text-center text_header mb-3">Profile Settings</h4> -->
            <div class="card border-success">
               
                <div class="card-body">
                    <form class="w-100">
                        <div class="d-flex flex-column align-items-center text-center mb-4">
                            <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                            <span class="font-weight-bold">ddddd</span>
                            <span class="text-black-50">dddddd</span>
                        </div>
               
                <div class="row mt-3 p-5">
                    <div class="col-md-6 p-3">
                        <label class="form-label">First Name</label>
                        <input type="text" class="form-control" placeholder="First Name" formControlName="fname" disabled>
                    </div>
                    <div class="col-md-6 p-3">
                        <label class="form-label">Last Name</label>
                        <input type="text" class="form-control" placeholder="Last Name" formControlName="lname" disabled>
                    </div>
                    <div class="col-md-6 p-3">
                        <label class="form-label">Email</label>
                        <input type="text" class="form-control" placeholder="Email" formControlName="Email" disabled>
                    </div>
                    <div class="col-md-6 p-3">
                        <label class="form-label">City</label>
                        <input type="text" class="form-control" placeholder="City" formControlName="City" disabled>
                    </div>
                    <div class="col-md-6 p-3">
                        <label class="form-label">Postal Code</label>
                        <input type="text" class="form-control" placeholder="Postal Code" formControlName="postalCode" disabled>
                    </div>
                    <div class="col-md-6 p-3">
                        <label class="form-label">Street</label>
                        <input type="text" class="form-control" placeholder="Street" formControlName="street" disabled>
                    </div>
                </div>
                <div class="mt-5 text-center">
                    <button class="btn btn-success" type="button" routerLink="/updateProfile">Update Profile</button>
                </div>
                
        </form>
    </div>
</div>
