
.active{
  background-color: #0aad0a; 
  color: #fff !important;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.nav-item{
  padding-left: 10px;
}
.logo{
  padding: 10px;
}
.logo i{
 color: #0aad0a;
 padding: 5px;
}