/* CSS for the category slider */
.cardCategory {
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid #198754;
  border-radius: 10px;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.cardCategory:hover {
  background-color: #198754;
  border-color: #198754;
  color: #ffffff;
}

.cardCategory .card-img-top {
  height: 150px;
  object-fit: cover;
}

.cardCategory .card-body {
  padding: 10px;
}

.carousel-inner {
  display: flex;
  flex-wrap: nowrap;
}

.carousel-item {
  flex: 0 0 auto;
  transition: transform 0.6s ease;
}

@media (max-width: 576px) {
  .cardCategory {
    flex-basis: calc(100% - 20px);
    margin: 0 10px;
  }
}

/* Rest of the CSS */
.category-border {
  color: #198754;
  margin-bottom: 20px;
}

.cardCategory:hover {
  cursor: pointer;
  background-color: #198754;
  color: white;
}

.product-card {
  margin-bottom: 10px;
  margin-top: 10px;
}

.card-body {
  height: 60%;
}

.category-item {
  text-align: center;
}

.category-image {
  width: 50%;
  height: auto;
}

.product-image {
  height: 300px;
  object-fit: cover;
}

.custom-card {
  height: 100%;
  margin-top: 10px;
  position: relative;
}

.btn-details {
  position: absolute;
  top: 0;
  right: 0;
}

.card-body {
  height: 100%;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.category-border {
  color: #198754;
  margin-bottom: 20px;
  position: relative;
}

.category-border:hover {
  background-color: #198754;
  color: white;
}

.cart-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff !important;
  transition: background-color 0.3s ease;
}

.cart-btn .bi-cart-plus {
  color: #198754 !important;
  cursor: pointer;
}

.quantity-controls {
  display: none;
  background-color: #fff;
  border-radius: 4px;
  padding: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-left: 20px;
}

.cart-btn:hover .quantity-controls {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  width: 100px;
  color: #2c4f1b;
  animation: expandQuantityControls 0.1s ease forwards;
}

.cart-btn:hover .quantity-controls.expanded {
  max-width: 250px;
}

.cart-btn:hover .badge {
  background-color: #198754 !important; /* Change background color on hover */
  color: white; /* Change text color on hover */
}

.badge {
  color: green;
  margin-bottom: 20px;
}

.cart-btn:hover {
  background-color: #198754 !important;
}

.cart-btn:hover .bi-cart-plus {
  color: white !important;
}

@keyframes expandQuantityControls {
  from {
    max-width: 0;
  }

  to {
    max-width: 250px;
  }
}
@media (max-width: 768px) {
  .col-sm-3 {
    flex-basis: calc(50% - 20px);
    margin: 0 10px;
  }
}

/* @media (max-width: 992px) {
  .col-md-4 {
    flex-basis: calc(50% - 20px);
    margin: 0 10px;
  }
} */

@media (max-width: 1200px) {
  .col-lg-3 {
    flex-basis: calc(50% - 20px);
    margin: 0 10px;
  }
}
