<div class="container">
  <h1 class="text-center mt-3">Our Categories</h1>
  <div class="row">
    <div *ngIf="isLoading" class="col-md-12 text-center">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <div class="col-md-4" *ngFor="let cat of cats" [routerLink]="['/category', cat.name]">
      <div class="card">
        <img class="card-img-top" [src]="cat.image" [alt]="cat.name">
        <div class="card-body">
          <h5 class="card-title">{{ cat.name }}</h5>
        </div>
      </div>
    </div>
  </div>
</div>