<div class="container-fluid">
  <div class="row">
    <!-- Sidebar with Categories -->
    <div class="col-md-3 justify-content-between">
      <h3 class="text-center text-main bg-success text-light rounded-2 p-2">All Categories</h3>
      <div *ngFor="let category of allCategories"
        class="category-border border text-center text-uppercase border-2 mb-2 rounded-2">
        <img (click)="getSpecificCategory(category._id)" class="category-image" height="150"
          src="../../../assets/project images/images (1).jpg" [alt]="category.name">
        <h1 class="h4 py-3 text-main">{{category.name}}</h1>
      </div>
    </div>
    <!-- Main Section for Products -->
    <div class="col-md-9">
      <div class="row">
        <div class="d-flex justify-content-between text-center text-main  bg-success text-light rounded-2 p-2">
          <h3 class="mt-2 ms-3 ">Products</h3>
          <div class="d-flex text-center">
            <!-- search -->
            <app-search (searchTextChanged)="onSearchTextChanged($event)"></app-search>
            <!-- sort by price and category-->
            <select class="form-select w-25 ms-2 text-success" aria-label="Sort By" [(ngModel)]="sortBy"
              (change)="onSortChange(sortBy)">
              <option disabled selected>Sort By</option>
              <option value="price">Price (Low to High)</option>
              <option value="price-desc">Price (High to Low)</option>
              <option value="category">Category (A to Z)</option>
            </select>
            <!-- end sort -->
          </div>
        </div>
        <div class="col-md-4" *ngFor="let product of receivedProducts |paginate: {itemsPerPage:6,currentPage:p}">
          <div class="card mb-3 custom-card">
            <div>
              <img class="card-img-top product-image" [src]="getImageUrl(product.image)" [alt]="product.title">
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ product.title }}</h5>
              <p class="card-text">{{ product.description }}</p>
              <p class="card-text">Price: {{ product.price }}</p>

              <button class="btn btn-outline-success  btn-details" [routerLink]="['/products', product._id]">
                <i class="bi bi-eye-fill"></i>
              </button>
              <button class="btn btn-success mb-2  cart-btn" (mouseenter)="isHovered = true"
                (mouseleave)="isHovered = false">
                <button class="btn" (click)="addToCart(product)"><i style="font-size: 30px;"
                    class="bi bi-cart-plus"></i></button>
                <div class="quantity-controls" [ngClass]="{ 'expanded': isHovered }">
                  <button class="btn btn-sm btn-outline-success" (click)="decreaseQuantity(product)">
                    <i class="bi bi-dash"></i>
                  </button>
                  <span>{{ quantity }}</span>
                  <button class="btn btn-sm btn-outline-success" (click)="increaseQuantity(product)">
                    <i class="bi bi-plus"></i>
                  </button>
                </div>
              </button>

            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="mt-5 border-1 border-success p-2 text-center w-100">
    <pagination-controls (pageChange)="p=$event"></pagination-controls>
  </div>