.category-border {
  color: #198754;
  margin-bottom: 20px; 
  
}

.category-border:hover {
  background-color: #198754;
  color: white;
}

.product-card {
  margin-bottom: 10px; 
  margin-top: 10px; 
}

.card-body {
  height: 60%; 
  
}

.category-item {
  text-align: center;
}

.category-image {
  width: 50%;
  height: auto;
}

.product-image {
  height: 300px;
  object-fit: cover;
}

.custom-card {
  height: 100%;
  margin-top: 10px; 
  position: relative;
}
.btn-details{
  position: absolute;
  top: 0;
  right: 0;
}
.card-body {
  height: 100%;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}
.category-border {
  color: #198754;
  margin-bottom: 20px;
  position: relative; 
}

.category-border:hover {
  background-color: #198754;
  color: white;
}
.cart-btn{
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-btn .btn {
  color: #fff; 
  cursor: pointer;
}

.quantity-controls {
  display: none;
  background-color: #fff;
  border-radius: 4px;
  padding: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  /* transition: max-width 0.2s ease; 
  max-width: 0;  */
  margin-left: 20px;
}

.btn:hover .quantity-controls {
  display: flex;
  justify-content: space-around; 
  font-size: 20px;
  width: 100px;
  color: #2c4f1b;
  animation: expandQuantityControls 0.1s ease forwards;
}

.quantity-controls.expanded {
  max-width: 250px; 
}


.quantity-controls button {
  padding: 0.25rem 0.5rem;
}

@keyframes expandQuantityControls {
  from {
    max-width: 0;
  }
  to {
    max-width: 250px;
  }
}