<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
<style>
 
  
</style>
    <div class=" rounded bg-light container gap-3 p-3 mt-3" *ngIf="!isLoading">
        <div class="row ">
            <div class="col text-center fs-1 fw-bold">
                Your Order
            </div>
        </div>
        <div class="row m-3 ">
            <div class="col-12 col-md-8 bg-white p-3 rounded mt-1 fw-bold"><i class="bi bi-check-circle text-success "></i> Payment completed successfully</div>
            <div class="col-12  col-md-8 bg-white p-3 rounded mt-3 scrollable-container">
                <div>what you ordered : </div>
                <div *ngFor="let item of order.cartItems; let i = index">
                    <div class="row">
                        <div class=" col m-4 p-3 ">
                            <img class="w-75" [src]="getImageUrl(order.cartItems[i].product.image)">
                        </div>
                        <div class="col-12 col-md-8   m-4 p-3">
                            <div class="fw-bold col-12">{{order.cartItems[i].product.title}}</div>
                            <div><span class="fw-bold">QTY :</span> {{order.cartItems[i].quantity}}</div>
                            <div><span class="fw-bold">Price:</span> $ {{order.cartItems[i].product.price}}</div>
                        </div>
    
                    </div>
                </div>
                  
              
            </div>
        
    
            <div class="col-12 col-md-4 p-3">
                <div class="fw-bold col-12 ">Details</div>
                <div class="fw-bold col-12 bg-white p-3 rounded mt-1 ">Date :  <span class="text-green">{{payment.paidAt | date:'medium'}}</span></div>
                <div class="fw-bold col-12 bg-white p-3 rounded mt-1 ">Total Order Price  :  <span class="text-green">$ {{payment.totalPrice}}</span></div>
                <div class="row">
                    <div class="col">
                        <button routerLink="/products/category" class="col-12 btn btn-success mt-5">Back to shop</button>
                      </div>
                </div>
             
            </div>
        </div>
        
    </div>
    <div *ngIf="isLoading"  class="position-fixed top-50 start-50 translate-middle">
        <app-loading-spinner></app-loading-spinner>
        </div>
</body>
</html>
