<div class="container">
    <div class="row m-3 p-3 border-success bg-light">
            <form [formGroup]="changePassword">
                <div class="col-12">
                    <label class="form-label">New Password</label>
                    <input type="{{showPassword? 'text':'password'}}" class="form-control" formControlName="password">
                    <div class="text-danger mt-3" *ngIf="changePassword.get('password')?.errors?.['pattern']">Minimum eight and maximum 10 characters, at least one uppercase letter, one lowercase letter, one number and one special character</div>
                </div>
                <div class="col-12 mt-2">
                    <label class="form-label">Confirm New Password</label>
                    <input type="{{showPassword? 'text':'password'}}" class="form-control" formControlName="passwordConfirm">
                    <div class="text-danger mt-3" *ngIf="changePassword.get('passwordConfirm')?.hasError('mustMatch')">Confirm Password did not match</div>
                </div>
                <div class="col-12 mt-3"><input type="checkbox"  (change)="onCheckboxChange()">show Password</div>
            

                <button class="btn btn-success text-center mt-3" [disabled]="changePassword.invalid" (click)="changePass()">Change Password</button>
            </form>
    </div>
</div>