<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="panel">
        <div class="panel-heading bg-primary text-white">
          <div class="row">
            <div class="col-12 col-sm-6">
              <h4 class="title">Products <span>List</span></h4>
            </div>
            <div class="col-12 col-sm-6 d-flex justify-content-end align-items-center">
              <select class="form-select" [(ngModel)]="selectedCategory" (change)="filterProductsByCategory()">
                <option value="">All Categories</option>
                <option *ngFor="let category of categories" [value]="category._id">{{ category.name }}</option>
              </select>
              <button class="btn btn-success ms-2" [routerLink]="['/Admin/AddCategory']" title="Add New Category">
                <i class="bi bi-plus"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="panel-body table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Image</th>
                <th>Title</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Sold</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of displayedProducts">
                <td>
                  <div class="image-container">
                    <img class="card-img-top product-image" [src]="getImageUrl(product.image)" [alt]="product.title">
                  </div>
                </td>
                <td><b>{{ product.title }}</b></td>
                <td>{{ product.price }}</td>
                <td>{{ product.quantity }}</td>
                <td><b>{{ product.sold }}</b></td>
                <td>
                  <div class="action-buttons">
                    <button class="btn btn-primary" (click)="editProduct(product._id)" title="Edit">
                      <i class="bi bi-pencil-fill"></i>
                    </button>
                    <button class="btn btn-danger" (click)="confirmRemoveProduct(product._id)" title="Remove">
                      <i class="bi bi-trash-fill"></i>
                    </button>
                    <button class="btn btn-info" (click)="openProductDetailsDialog(product)" title="Details">
                      <i class="bi bi-info-circle-fill"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
