/* Container for the about section */
#aboutUs {
  position: relative;
  margin-top: -48px;
  background-image: url("../../../assets/project images/aboutus.jpeg");
  background-position: center;
  background-size: cover;
  position: relative;
}

#aboutUs::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2f3b3660;
  z-index: -1;
}

.c1 {
  background-color: #1987546c;
  color: white;
  padding: 50px;
  border-radius: 10px;
  text-align: center;
}

.c1 h2 {
  font-size: bold;
}

.col2 {
  padding: 15px 0;
}

.c2 h2,
.list h2 {
  color: #198754;
}