<div id="aboutUs">
  <div class="c1 container">
    <h2>About Us</h2>
    <p>
      Welcome to SHOPING, your one-stop destination for all your laptop and mobile needs. At SHOPING,
      we are passionate about delivering top-quality technology products to our customers, ensuring they stay connected
      and
      productive in today's fast-paced world.
    </p>
  </div>
  <div class="container c2">
    <div class="row gy-3 gy-md-4 gy-lg-0">
      <div class="col-12 col-lg-6">
        <div class="card bg-light p-3 m-0">
          <div class="row gy-3 gy-md-0 align-items-md-center">
            <div class="col-md-5">
              <img src="../../../assets/project images/OurMission.jpg" class="img-fluid rounded-start"
                alt="Our Mission">
            </div>
            <div class="col-md-7">
              <div class="card-body p-0">
                <h2 class="card-title h4 mb-3">Our Mission</h2>
                <p class="card-text lead">Our mission at SHOPING is simple: to provide our customers with
                  the best devices at competitive prices, coupled with exceptional customer service. We strive to offer
                  a seamless online shopping experience, making it easy for you to find the perfect device that meets
                  your needs.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 col2">
        <div class="card bg-light p-3 m-0">
          <div class="row gy-3 gy-md-0 align-items-md-center">
            <div class="col-md-5">
              <img src="../../../assets/project images/WhyChooseUs.jpg" class="img-fluid rounded-start"
                alt="Why Choose Us?">
            </div>
            <div class="col-md-7">
              <div class="card-body p-0">
                <h2 class="card-title h4 mb-3">Our Story</h2>
                <p class="card-text lead">SHPOING was founded with a vision to make cutting-edge technology accessible
                  to everyone. What started as a small venture has
                  grown into a trusted online destination for tech enthusiasts and casual users alike. With years of
                  experience in the
                  industry, we continue to evolve and adapt to meet the ever-changing needs of our customers.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="container list mb-5 w-75">
    <h2 class=" text-center mt-5 mb-5">Why Choose Us?</h2>
    <ol class="list-group list-group-numbered ">
      <li class="list-group-item list-group-item-secondary p-3"><span class="text-success">Wide Selection:</span> We
        offer a diverse range of laptops and
        mobile phones from
        leading
        brands, ensuring you have plenty of
        options to choose from.</li>
      <li class="list-group-item list-group-item-secondary"><span class="text-success">Quality Assurance:</span> Every
        product we sell
        undergoes rigorous
        quality checks
        to ensure
        it meets our standards of
        excellence, giving you peace of mind with every purchase.</li>
      <li class="list-group-item list-group-item-secondary"><span class="text-success">Customer Satisfaction:</span>
        Your satisfaction is our
        top
        priority. Our
        dedicated customer
        support team is here to assist you
        every step of the way, from product selection to after-sales support.</li>
      <li class="list-group-item list-group-item-secondary"><span class="text-success">Competitive Pricing:</span> We
        work hard to negotiate
        the best
        prices from our
        suppliers,
        allowing us to pass on savings to our
        customers without compromising on quality.</li>
    </ol>
  </div>
</div>