<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-heading bg-primary text-white">
          <h4 class="title">Recent Orders</h4>
        </div>
        <div class="panel-body table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Client</th>
                <th>Date Of Order</th>
                <th>Shopping List</th>
                <th>Total price</th>
                <th>Amount</th>
                <th>Status</th>
                <th>Update Status</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of orderInfo">
                <td>{{ item.user.email }}</td>
                <td>{{ item.createdAt | date }}</td>
                <td>
                  <ul>
                    <li *ngFor="let p of item.cartItems">{{ p.product.title }}</li>
                  </ul>
                </td>
                <td>{{ item.totalOrderPrice }}</td>
                <td>{{ item.amount }}</td>
                <td>{{ item.status }}</td>
                <td class="list">
                  <mat-form-field appearance="fill" class="status-dropdown">
                    <mat-label>Select</mat-label>
                    <mat-select matNativeControl placeholder="Status">
                      <mat-option value="pending">Pending</mat-option>
                      <mat-option value="accepted">Accepted</mat-option>
                      <mat-option value="rejected">Rejected</mat-option>
                    </mat-select>
                  </mat-form-field>
                </td >
                <td class="action-buttons"><button class="btn btn-danger" (click)="OpenDialog(item._id)">Remove</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div *ngIf="orderInfo.length == 0">
      <app-loading-spinner></app-loading-spinner>
    </div>
  </div>
</div>
