
<div class="recentCustomers">
    <div class="cardHeader">
                <h2>Recent Customers</h2>
    </div>
    <div *ngIf="isloading">
      <app-loading-spinner></app-loading-spinner>
      </div>
    <div class="table-container" *ngIf="!isloading">
      <table>
        <tr *ngFor="let user of users" class="userDiv">
          <td width="60px">
            <div class="imgBx"><img [src]="getImgUrl(user.image)" alt=""></div>
          </td>
          <td>
            <h4>{{ user.fname  }} <br> <span>{{ user.email }}</span></h4>
          </td>

           <div class="deleteContainer" >
            <span class="deletBtn">
              <button class="btn btn-danger"  (click)="OpenDialog(user._id) " title="Remove Customer">
                <i class="bi bi-trash-fill"></i> Remove 
              </button>
            </span>
           </div>
        </tr>
      </table>
    </div>
  </div>