<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="panel">
        <div class="panel-heading bg-primary text-white">
          <div class="row">
            <div class="col-12 col-sm-6">
              <h4 class="title">Recent Customers</h4>
            </div>
          </div>
        </div>
        <div class="panel-body table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Email</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users" class="userDiv">
                <td>
                  <div class="image-container">
                    <img class="card-img product-image" [src]="getImgUrl(user.image)" [alt]="user.fname">
                  </div>
                </td>
                <td>{{ user.fname }}</td>
                <td><b>{{ user.email }}</b></td>
                <td>
                  <div class="action-buttons">
                    <button class="btn btn-danger px-3" (click)="OpenDialog(user._id)" title="Remove Customer">
                      <i class="bi bi-trash-fill"></i> Remove
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div *ngIf="isloading">
      <app-loading-spinner></app-loading-spinner>
    </div>
  </div>
</div>
