<div class="container" [dir]="'dir' | translate">
    <h2 class="contact">{{ 'Contact.Contact' | translate }}</h2>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="contact-form">
      <div class="form-group">
        <label for="name">{{ 'Contact.name' | translate }}</label>
        <input type="text" id="name" formControlName="name" class="form-control">
      </div>
      <div class="form-group">
        <label for="email">{{ 'Contact.email' | translate }}</label>
        <input type="email" id="email" formControlName="email" class="form-control">
      </div>
      <div class="form-group">
        <label for="message">{{ 'Contact.message' | translate }}</label>
        <textarea id="message" formControlName="message" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" [disabled]="contactForm.invalid" class="btn btn-success">{{ 'Contact.submit' | translate }}</button>
      </div>
    </form>
  </div>
  