
<div class="modal-header justify-content-end">
    <button type="button" class="btn-close" aria-label="Close" (click)="closeDialog()"></button>
  </div>
  <br>
  <br>
  <div class="container mt-2">
    <ng-container *ngIf="data">
      <div  class="row custom-row">
       <div class="user_info">
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <img class="card-img-top img-fluid" style="width: 200px;" [src]="getImageUrl(data.user.image)" alt="user image">
                <h2>{{data.user.fname}} {{data.user.lname}}</h2>
                <h4>{{data.user.email}} </h4>

          </div>
       </div>
        <div class="col-md-6 order_detail">
          <div class="row">
            <!-- <h2 class="title">{{ data.title }}</h2> -->
            <!-- <span class="price"> total Price: {{data.totalOrderPrice}}</span> -->
            <div class="col-sm-6">
              <p class="Category"> staus : {{ data.status }}</p>
            </div>
            <div class="col-sm-6">
              <p class="Price">Price : {{ data.totalOrderPrice |currency:'EGP':'symbol'}}</p>
            </div>
          </div>
          <hr>
          <div class="description">
            <div class="description-controls">
              <p class="desc-titel">order Items :</p>
              <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item" *ngFor="let p of data.cartItems">{{p}}</li>
                </ul>
              </div>
            </div>
          </div>
          
      
        </div>
      </div>
    </ng-container>
  </div>
  
  <br>
  
  