<footer class="footer">
    <div class="row mt-5">
        <div class="col-md-12 text-center">
          <p class="copyright"> Copyright &copy;All rights reserved</p>
          <ul class="ftco-footer-social p-0">
            <li class="ftco-animate"><a href="#" data-placement="top" title="Twitter"><i class="bi bi-twitter-x"></i></a></li>
            <li class="ftco-animate"><a href="#" data-placement="top" title="Facebook"><i class="bi bi-facebook"></i></a></li>
            <li class="ftco-animate"><a href="#" data-placement="top" title="Instagram"><i class="bi bi-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    <!-- <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
          <h2 class="footer-heading">Shoping</h2>
          <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a
            paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
          <ul class="ftco-footer-social p-0">
            <li class="ftco-animate"><a href="#" data-placement="top" title="Twitter"><i class="bi bi-twitter-x"></i></a>
            </li>
            <li class="ftco-animate"><a href="#" data-placement="top" title="Facebook"><i class="bi bi-facebook"></i></a>
            </li>
            <li class="ftco-animate"><a href="#" data-placement="top" title="Instagram"><i
                  class="bi bi-instagram"></i></a></li>
          </ul>
  
        </div>
  
        <div class="col-md-6 col-lg-3 pl-lg-5 mb-4 mb-md-0">
          <h2 class="footer-heading">Quick Links</h2>
          <ul class="list-unstyled">
            <li><a href="#" class="py-2 d-block">Home</a></li>
            <li><a href="#" class="py-2 d-block">About</a></li>
            <li><a href="#" class="py-2 d-block">Services</a></li>
            <li><a href="#" class="py-2 d-block">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
          <h2 class="footer-heading">Contact Us</h2>
          <div class="block-23 mb-3">
            <ul>
              <li><a href="#"><i class="bi bi-geo-alt"></i><span class="text">203 Fake St. Mountain View, San Francisco,
                    California, USA</span></a></li>
              <li><a href="#"><i class="bi bi-telephone"></i><span class="text">+2 392 3929 210</span></a></li>
              <li><a href="#"><i class="bi bi-send"></i><span class="text">infoyourdomain.com</span></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-12 text-center">
          <p class="copyright"> Copyright &copy;All rights reserved</p>
          <ul class="ftco-footer-social p-0">
            <li class="ftco-animate"><a href="#" data-placement="top" title="Twitter"><i class="bi bi-twitter-x"></i></a></li>
            <li class="ftco-animate"><a href="#" data-placement="top" title="Facebook"><i class="bi bi-facebook"></i></a></li>
            <li class="ftco-animate"><a href="#" data-placement="top" title="Instagram"><i class="bi bi-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div> -->
  </footer>
