

.footer {
  background-color: #212529; 
  color: #fff; 
  padding: 20px; 
  width: 98.8%;
  margin: 0 auto; 
  text-align: center;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  display: inline;
  margin-right: 10px; 
}

.footer ul li:last-child {
  margin-right: 0;
}

.footer ul li a {
  color: #2bda37; 
  text-decoration: none;
}
