<div class="container mt-2">
  <ng-container *ngIf="product">
    <div *ngIf="isLoading" class="loading-spinner">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <div *ngIf="!isLoading" class="row custom-row">

      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <img class="card-img-top img-fluid" [src]="getImageUrl(product.image)" [alt]="product.title">
      </div>

      <div class="col-md-6 product_details">
        <div class="row">
          <h2 class="title">{{ product.title }}</h2>
          <div class="col-sm-6">
            <p class="Category">{{ categoryName }}</p>
          </div>
          <div class="col-sm-6">
            <p class="Price text-primary fw-bold fs-5">Price : {{ product.price |currency:'EGP':'symbol'}}</p>
          </div>
        </div>
        <hr>
        <div class="description">
          <div class="description-controls">
            <p class="desc-titel fw-bold fs-5">About This Item :</p>
            <p class="desc">{{ product.description }}</p>
          </div>
        </div>
        <hr>

        <div class="row custom-row">
          <div class="col-sm-5">
            <div class="Color">
              <div class="color-container fw-bold fs-5"> <strong>Colors : </strong>
                <div *ngFor="let color of product.colors" class="color-circle" [style.background-color]="color"></div>
              </div>
            </div>
          </div>
          <div class="col-sm-7">
            <div class="quantity">
              <div class="quantity-controls">

                <div class="quantity-text fw-bold fs-5">
                  <strong>Quantity : </strong>
                  {{product.quantity}}
                </div>
                <div class="controls">
                  <button class="btn btn-sm btn-outline-success" (click)="addToCart(product)">
                    <i class="bi bi-plus"></i>
                  </button>
                  <span>{{ getHoveredProductQuantity(product) }}</span>
                  <button class="btn btn-sm btn-outline-success" (click)="removeFromCart(product)">
                    <i class="bi bi-dash"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-12">
            <button class="btn btn-outline-success custom-button" (click)="orderNow()">
              Buy Now
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <div *ngIf="error" class="error-message text-center">
    <p>Error: {{ error }}</p>
  </div>
</div>
<app-footer></app-footer>
