
<div class="container-sm">
  
<div class="row justify-content-center align-items-center" style="height: 100vh;" >

  <div class="col">
    <div class="alert alert-danger" *ngIf="error.length  > 0">
      {{error}}
    </div>

<div *ngIf="isLoading">
  <app-loading-spinner></app-loading-spinner>
</div>
<form [formGroup]="registerForm" (ngSubmit)="onRegister()" *ngIf="!isLoading" >
<div class="mb-3">
  <label for="exampleInputFname" class="form-label">First Name</label>
  <input type="text" class="form-control" id="exampleInputFname" aria-describedby="FnamelHelp" formControlName="UserFname">
  <div id="FnamelHelp" class="form-text" *ngIf="!registerForm.get('UserFname')?.valid  && registerForm.get('UserFname')?.touched"  >enter a valid email</div>
</div>  <div class="mb-3">
  <label for="exampleInputLname1" class="form-label">Last Name</label>
  <input type="text" class="form-control" id="exampleInputLname1" aria-describedby="lnamelHelp" formControlName="UserLname">
  <div id="lnamelHelp" class="form-text" *ngIf="!registerForm.get('UserLname')?.valid  && registerForm.get('UserLname')?.touched">enter a valid name</div>
</div>
<div class="mb-3">
  <label for="exampleInputEmail1" class="form-label">Email address</label>
  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="email">
  <div id="emailHelp" class="form-text"  *ngIf="!registerForm.get('email')?.valid  && registerForm.get('email')?.touched">please enter a valid email</div>
</div>
<div class="mb-3">
  <label for="exampleInputPassword1" class="form-label" >Password</label>
  <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
  <div id="passwordHelp" class="form-text"  *ngIf="!registerForm.get('password')?.valid  && registerForm.get('password')?.touched">password isn't valid please enter a valid one</div>

</div>
<div class="mb-3">
  <label for="exampleInputConfirmPassword" class="form-label" >Confirm Password</label>
  <input type="password" class="form-control" id="exampleInputConfirmPassword" formControlName="confirmPassword">
  <div id="confirmPasswordHelp" class="form-text"  *ngIf="registerForm.hasError('nomatch') && registerForm.get('confirmPassword')?.touched">Password didn't match </div>

</div>

<button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid">Submit</button>
</form>
  </div>
</div>
  
</div>