<div class="product-container w-100 m-auto mt-2">
  <button mat-raised-button color="primary" class="add-product-btn btn btn-success ms-5" (click)="addProduct()">Add New
    Product</button>
  <div *ngIf="products" class="product-list row w-100 g-2 m-auto mt-2">
    <div *ngFor="let product of products" class="product-card col-5">
      <img [src]="getImageUrl(product.image)" alt="Product Image">
      <h3>{{ product.title }}</h3>
      <p>{{ product.description }}</p>
      <p>Price: {{ product.price }}</p>
      <div class="action-buttons">
        <button mat-icon-button (click)="editProduct(product._id)">
          <i class="bi bi-pencil-fill"></i> <!-- Bootstrap pencil icon -->
        </button>
        <button mat-icon-button (click)="deleteProduct(product._id)">
          <i class="bi bi-trash-fill"></i> <!-- Bootstrap trash icon -->
        </button>
      </div>
    </div>
  </div>

</div>